<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>New Artist</h1>
    <form action="/create_artist">
      <div class="form-group">
        <label for="idea" class="control-label">Name</label>
        <input type="text" name="name" class="form-control" placeholder="name">
      </div>
      <div class="form-group">
        <label for="idea" class="control-label">Description</label>
        <input type="text" name="description" class="form-control" placeholder="description">
      </div>
      <div class="form-group">
        <label for="idea" class="control-label">Image Url</label>
        <input type="text" name="imgurl" class="form-control" placeholder="http://">
      </div>
      <input type="submit" class="btn btn-primary">
    </form>
  </div>
</div>
