<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>New Song</h1>
    <form action="/create_song">
      <div class="form-group">
        <label for="idea" class="control-label">Name</label>
        <input type="text" name="name" class="form-control" placeholder="name">
      </div>
      <div class="form-group">
        <label for="idea" class="control-label">Cover Image Url</label>
        <input type="text" name="coverurl" class="form-control" placeholder="http://">
      </div>
      <div class="form-group">
        <label for="idea" class="control-label">Artist Id</label>
        <input type="text" name="artist_id" class="form-control" placeholder="1" value="<%=@artistId%>">
      </div>
      <input type="submit" class="btn btn-primary">
    </form>
  </div>
</div>